<%= render 'header' %>
<section id="checkout_1">
<h4>Section 1</h4>
<p>The total is <%= number_to_currency(@total) %> before tax. You can view all the items at <%= link_to "your cart", user_path %>.</p>
<hr>
<% if @current_user.province == nil || @current_user.address == nil %>
  <p>This account does not have proper address information. Please provide it.</p>
<% else %>
  <p>You're current address information is:</p>
  <p><%= @current_user.province.name %> | <%= @current_user.address %></p>
  <p>You may change it below</p>
<% end %>
<%= form_tag(change_address_path, :method => "post", id: "address-form") do %>
  <%= collection_select nil, :province, @provinces, :id, :name, include_blank:true %>
  <br><br>
  <%= text_field_tag :address, params[:address], placeholder: "Address" %>
  <%= submit_tag "Set Address" %>
<% end %>
</section>
<hr>
<% unless @current_user.province == nil || @current_user.address == nil %>
<section id="checkout_2">
  <h4>Section 2</h4>
  <table>
  <% @wishlist.each do |wish| %>
    <tr>
      <td class="table_product_name"><%= wish.product.name %></td>
      <td><strong><%= number_to_currency(wish.product.price) %></strong></td>
      <td>x</td>
      <td><strong><%= wish.quantity %></strong></td>
      <td>=</td>
      <td><strong><%= number_to_currency(wish.quantity * wish.product.price) %></strong></td>
    </tr>
  <% end %>
  <tr>
    <td>Total</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= number_to_currency(@total) %></td>
  </tr>
  <tr>
    <td>GST</td>
    <td><strong>5%</strong></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= number_to_currency(0.05 * @total) %></td>
  </tr>
  <tr>
    <% unless @current_user.province.hst != nil %>
      <td>PST</td>
    <% else %>
      <td>HST</td>
    <% end %>
    <% unless @current_user.province.hst != nil %>
      <td><strong><%= @current_user.province.pst %>%</strong></td>
    <% else %>
      <td><strong><%= @current_user.province.hst %>%</strong></td>
    <% end %>
    <td></td>
    <td></td>
    <td></td>
    <% unless @current_user.province.hst != nil %>
      <td><%= number_to_currency(@current_user.province.pst * @total) %></td>
    <% else %>
      <td><%= number_to_currency(@current_user.province.hst * @total) %></td>
    <% end %>
  </tr>
  <tr>
    <td><strong>Grand Total</strong></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><strong><%= number_to_currency(@total_with_tax) %></strong></td>
  </tr>
  </table>
</section>
<hr>
<section id="checkout_1">
  <p>Submit this order?</p>
</section>
<% end %>