<%= render 'header' %>
<main>
  <nav class="search_nav">
    <h2><%= @category.name %></h2>
    <%= form_tag(category_search_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search for a product" %>
      <%= submit_tag "Search" %>
    <% end %>
  </nav>
  <article>
    <% @products.each do |product| %>
    <%= render 'product', product: product %>
    <% end %>
  </article>
</main>